<img src="https://i.pinimg.com/originals/75/3a/32/753a326847fa99d65d506324c5d95363.gif">

# Collecting Data (Draft notebook)

In [25]:
import tools.functions as fun
import pandas as pd

In [26]:
#df = fun.download_kaggle()

In [27]:
data = pd.read_csv("data/friends_sia.csv")

In [28]:
data.tail(2)

,Unnamed: 0,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,token,SIA
234,234,2004,10,17,The Last One: Part 1,30,Erica gives birth to the baby that Monica and ...,Kevin Bright,9.5,6221,Erica gives birth baby Monica Chandler adoptin...,0.2732
235,235,2004,10,18,The Last One: Part 2,30,Phoebe races Ross to the airport in a bid to s...,Kevin Bright,9.7,10381,Phoebe races Ross airport bid stop Rachel leav...,-0.2960

In [29]:
data["Episode ID"] = data.apply(lambda row: f"{row['Season']}_{row['Episode Number']}", axis = 1)

In [30]:
data["Season ID"] = data.apply(lambda row: f"s_{row['Season']}", axis = 1)
data.sample(3)

,Unnamed: 0,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,token,SIA,Episode ID,Season ID
218,218,2003,10,1,The One After Joey and Rachel Kiss,22,Joey and Ross both attempt to come clean to ea...,Kevin Bright,8.5,3113,Joey Ross attempt come clean dating Rachel Cha...,0.4019,10_1,s_10
94,94,1998,4,22,The One with the Worst Best Man Ever,22,at first Ross chooses Joey to be his best man ...,Peter Bonerz,8.5,3052,first Ross chooses Joey best man mishap bachel...,0.8750,4_22,s_4
174,174,2001,8,5,The One with Rachel's Date,22,Phoebe dates Monica's sous-chef Tim and Monica...,Gary Halvorson,8.1,2703,Phoebe dates Monica sous chef Tim Monica fire ...,-0.7506,8_5,s_8

In [31]:
data.loc[0]["Summary"]

'Monica and the gang introduce Rachel to the "real world" after she leaves her fianc� at the altar.'

In [16]:
data["Summary"] = data["Summary"].apply(fun.quitar_comillas)

In [17]:
data.loc[0]["Summary"]

"Monica and the gang introduce Rachel to the 'real world' after she leaves her fianc� at the altar."

In [18]:
#data["Episode Number"] = data.apply(lambda row: f"e_{row['Episode Number']}", axis = 1)

In [19]:
data["Director ID"] = data.apply(lambda row: f"DI_{row['Director'][0]}{row['Director'][1]}{row['Director'][-2]}", axis = 1)

In [32]:
data.sample(2)

,Unnamed: 0,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,token,SIA,Episode ID,Season ID
132,132,2000,6,12,The One with the Joke,22,Chandler and Ross argue over a joke. Meanwhile...,Gary Halvorson,8.1,2829,Chandler Ross argue joke Meanwhile Joey reluct...,-0.4939,6_12,s_6
50,50,1996,3,3,The One with the Jam,22,Monica tries to get over Richard by using her ...,Kevin Bright,8.1,3324,Monica tries get Richard using free time make ...,0.2023,3_3,s_3

In [36]:
temporadas = data.loc[:,["Season ID","Season","Year_of_prod","Episode Number"]].groupby("Season ID").max()
temporadas.to_csv("data/temporadas.csv")
temporadas.sample(3)

           Season  Year_of_prod  Episode Number
Season ID
s_6             6          2000              25
s_8             8          2002              24
s_2             2          1996              24

In [22]:
episodes = data.loc[:,["Episode ID","Season","Season ID","Director ID", "Episode Number","Episode_Title","Duration","Summary","SIA"]]
episodes.to_csv("data/episodios.csv")
episodes.sample(2)

,Episode ID,Season,Season ID,Director ID,Episode Number,Episode_Title,Duration,Summary,SIA
15,1_16,1,s_1,DI_Mic,16,The One with Two Parts: Part 1,22,Phoebe feels neglected when Joey falls for her...,-0.6597
118,5_22,5,s_5,DI_Gao,22,The One with Joey's Big Break,22,Joey drives to Las Vegas to shoot to shoot a n...,-0.8910

In [24]:
production = data.loc[:,["Director ID","Director", "Episode Number","Season"]]
production

    Director ID        Director  Episode Number  Season
0        DI_Jaw   James Burrows               1       1
1        DI_Jaw   James Burrows               2       1
2        DI_Jaw   James Burrows               3       1
3        DI_Jaw   James Burrows               4       1
4        DI_Paa   Pamela Fryman               5       1
..          ...             ...             ...     ...
231      DI_Gao  Gary Halvorson              14      10
232      DI_Gao  Gary Halvorson              15      10
233      DI_Gao  Gary Halvorson              16      10
234      DI_Keh    Kevin Bright              17      10
235      DI_Keh    Kevin Bright              18      10

[236 rows x 4 columns]

In [18]:
a = data["Director"].value_counts()

In [19]:
name = list(a.keys())
epi = list(a.values)

In [20]:
director = pd.DataFrame(list(zip(name,epi)), columns = ['Name','Number of episodes'])

In [21]:
director["Director ID"] = director.apply(lambda row: f"DI_{row['Name'][0]}{row['Name'][1]}{row['Name'][-2]}", axis = 1)
director.to_csv("data/director.csv")

In [22]:
rank = data.loc[:,["Episode ID","Stars","Votes"]]
rank.to_csv("data/rank.csv")