<img src="https://i.pinimg.com/originals/75/3a/32/753a326847fa99d65d506324c5d95363.gif">

# Collecting Data

In [1]:
import tools.functions as fnc
import pandas as pd

In [2]:
df = fnc.download_kaggle()

In [3]:
data = df

In [4]:
data.head(2)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440
1,1994,1,2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888

In [5]:
data["Episode ID"] = data.apply(lambda row: f"{row['Season']}_{row['Episode Number']}", axis = 1)

In [6]:
data["Season ID"] = data.apply(lambda row: f"s_{row['Season']}", axis = 1)
data.sample(3)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,Episode ID,Season ID
165,2001,7,20,The One with Rachel's Big Kiss,22,Rachel's college friend can't remember a scand...,Gary Halvorson,8.4,2894,7_20,s_7
41,1996,2,18,The One Where Dr. Ramoray Dies,22,Joey's soap opera character is killed off afte...,Michael Lembeck,8.5,3403,2_18,s_2
23,1995,1,24,The One Where Rachel Finds Out,22,"As Ross leaves for China, Chandler accidentall...",Kevin Bright,8.9,4187,1_24,s_1

In [7]:
data.loc[0]["Summary"]

'Monica and the gang introduce Rachel to the "real world" after she leaves her fianc� at the altar.'

In [8]:
data = data.replace('"','')

In [9]:
data["Episode Number"] = data.apply(lambda row: f"e_{row['Episode Number']}", axis = 1)

In [10]:
data["Director ID"] = data.apply(lambda row: f"DI_{row['Director'][0]}{row['Director'][1]}{row['Director'][-2]}", axis = 1)

In [11]:
data.sample(5)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,Episode ID,Season ID,Director ID
211,2003,9,e_18,The One with the Lottery,23,"Hoping to win a huge jackpot, the friends pool...",Gary Halvorson,8.6,2792,9_18,s_9,DI_Gao
43,1996,2,e_20,The One Where Old Yeller Dies,22,Phoebe's world view is shattered when she lear...,Michael Lembeck,8.2,3295,2_20,s_2,DI_Mic
182,2002,8,e_13,The One Where Chandler Takes a Bath,22,Monica turns Chandler on to the concept of tak...,Ben Weiss,8.6,2800,8_13,s_8,DI_Bes
213,2003,9,e_20,The One with the Soap Opera Party,22,Joey throws a cast party on the roof of his bu...,Sheldon Epps,8.2,2615,9_20,s_9,DI_Shp
144,2000,6,e_24,The One with the Proposal,30,Chandler's plan to propose to Monica at dinner...,Kevin Bright,8.8,3065,6_24,s_6,DI_Keh

In [12]:
def quitar_comillas(fila):
    return fila.replace('"',"'")

In [13]:
data["Summary"] = data["Summary"].apply(quitar_comillas)

In [14]:
data.loc[0]["Summary"]

"Monica and the gang introduce Rachel to the 'real world' after she leaves her fianc� at the altar."

In [15]:
temporadas = data.loc[:,["Season ID","Episode Number"]].groupby("Season ID").count()
temporadas.to_csv("data/temporadas.csv")
temporadas.sample(3)

           Episode Number
Season ID
s_6                    25
s_4                    24
s_3                    25

In [16]:
episodes = data.loc[:,["Episode ID","Season ID","Director ID", "Episode Number","Episode_Title","Duration","Summary"]]
episodes.to_csv("data/episodios.csv")
episodes.sample(2)

,Episode ID,Season ID,Director ID,Episode Number,Episode_Title,Duration,Summary
60,3_13,s_3,DI_Roo,e_13,The One Where Monica and Richard Are Just Friends,22,Monica's willpower is tested when she bumps in...
127,6_7,s_6,DI_Gao,e_7,The One Where Phoebe Runs,22,Rachel is embarrassed by Phoebe's odd running ...

In [17]:
production = data.loc[:,["Director ID","Director", "Episode Number"]]
production

    Director ID        Director Episode Number
0        DI_Jaw   James Burrows            e_1
1        DI_Jaw   James Burrows            e_2
2        DI_Jaw   James Burrows            e_3
3        DI_Jaw   James Burrows            e_4
4        DI_Paa   Pamela Fryman            e_5
..          ...             ...            ...
231      DI_Gao  Gary Halvorson           e_14
232      DI_Gao  Gary Halvorson           e_15
233      DI_Gao  Gary Halvorson           e_16
234      DI_Keh    Kevin Bright           e_17
235      DI_Keh    Kevin Bright           e_18

[236 rows x 3 columns]

In [18]:
a = data["Director"].value_counts()

In [19]:
name = list(a.keys())
epi = list(a.values)

In [20]:
director = pd.DataFrame(list(zip(name,epi)), columns = ['Name','Number of episodes'])

In [21]:
director["Director ID"] = director.apply(lambda row: f"DI_{row['Name'][0]}{row['Name'][1]}{row['Name'][-2]}", axis = 1)
director.to_csv("data/director.csv")

In [22]:
rank = data.loc[:,["Episode ID","Stars","Votes"]]
rank.to_csv("data/rank.csv")