<img src="https://i.pinimg.com/originals/75/3a/32/753a326847fa99d65d506324c5d95363.gif">

# Collecting Data

In [1]:
import tools.functions as fnc
import pandas as pd

In [88]:
df = fnc.download_kaggle()

In [89]:
data = df

In [90]:
data.head(2)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440
1,1994,1,2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888

In [91]:
data["Episode ID"] = data.apply(lambda row: f"{row['Season']}_{row['Episode Number']}", axis = 1)

In [92]:
data["Season"] = data.apply(lambda row: f"s_{row['Season']}", axis = 1)

In [93]:
data["Episode Number"] = data.apply(lambda row: f"e_{row['Episode Number']}", axis = 1)

In [97]:
data.sample(5)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,Episode ID
182,2002,s_8,e_13,The One Where Chandler Takes a Bath,22,Monica turns Chandler on to the concept of tak...,Ben Weiss,8.6,2800,8_13
122,1999,s_6,e_2,The One Where Ross Hugs Rachel,22,Monica and Chandler try to tell Rachel and Joe...,Gail Mancuso,8.2,2883,6_2
234,2004,s_10,e_17,The Last One: Part 1,30,Erica gives birth to the baby that Monica and ...,Kevin Bright,9.5,6221,10_17
67,1997,s_3,e_20,The One with the Dollhouse,22,Monica's aunt dies and leaves her an antique d...,Terry Hughes,8.1,3134,3_20
52,1996,s_3,e_5,The One with Frank Jr.,22,Phoebe has trouble bonding with her half-broth...,Steve Zuckerman,8.1,3292,3_5

In [120]:
temporadas = data.loc[:,["Season","Episode Number"]].groupby("Season").count()
temporadas

        Episode Number
Season
s_1                 24
s_10                18
s_2                 24
s_3                 25
s_4                 24
s_5                 24
s_6                 25
s_7                 24
s_8                 24
s_9                 24

In [126]:
episodes = data.loc[:,["Episode Number","Episode_Title","Duration","Summary"]]
episodes.head(3)

,Episode Number,Episode_Title,Duration,Summary
0,e_1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r..."
1,e_2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...
2,e_3,The One with the Thumb,22,Monica becomes irritated when everyone likes h...

In [128]:
production = data.loc[:,["Episode Number","Director"]].groupby("Director").count()
production

                      Episode Number
Director
Alan Myerson                       2
Andrew Tsao                        1
Arlene Sanford                     1
Ben Weiss                         10
Dana De Vally Piazza               3
David Schwimmer                   10
David Steinberg                    1
Ellen Gittelsohn                   1
Gail Mancuso                      14
Gary Halvorson                    54
James Burrows                     15
Joe Regalbuto                      1
Kevin Bright                      54
Mary Kay Place                     1
Michael Lembeck                   24
Pamela Fryman                      2
Paul Lazarus                       1
Peter Bonerz                      12
Robby Benson                       6
Roger Christiansen                 2
Sam Simon                          1
Sheldon Epps                       3
Shelley Jensen                     6
Stephen Prime                      1
Steve Zuckerman                    2
Terry Hughes                       5
Thomas Schlamme                    2
Todd Holland                       1