<img src="https://i.pinimg.com/originals/75/3a/32/753a326847fa99d65d506324c5d95363.gif">

# Collecting Data

In [1]:
import tools.functions as fnc
import pandas as pd

In [2]:
df = fnc.download_kaggle()

In [3]:
data = df

In [4]:
data.tail(2)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
234,2004,10,17,The Last One: Part 1,30,Erica gives birth to the baby that Monica and ...,Kevin Bright,9.5,6221
235,2004,10,18,The Last One: Part 2,30,Phoebe races Ross to the airport in a bid to s...,Kevin Bright,9.7,10381

In [5]:
data["Episode ID"] = data.apply(lambda row: f"{row['Season']}_{row['Episode Number']}", axis = 1)

In [6]:
data["Season ID"] = data.apply(lambda row: f"s_{row['Season']}", axis = 1)
data.sample(3)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,Episode ID,Season ID
207,2003,9,14,The One with the Blind Dates,24,Phoebe and Joey purposely set Ross and Rachel ...,Gary Halvorson,8.2,2642,9_14,s_9
191,2002,8,22,The One Where Rachel Is Late,22,Monica and Phoebe bet on when Rachel's baby wi...,Gary Halvorson,8.3,2662,8_22,s_8
131,2000,6,11,The One with the Apothecary Table,22,Joey is caught in the middle when Janine tells...,Kevin Bright,8.1,2892,6_11,s_6

In [7]:
data.loc[0]["Summary"]

'Monica and the gang introduce Rachel to the "real world" after she leaves her fiancï¿½ at the altar.'

In [8]:
data = data.replace('"','')

In [9]:
data["Episode Number"] = data.apply(lambda row: f"e_{row['Episode Number']}", axis = 1)

In [10]:
data["Director ID"] = data.apply(lambda row: f"DI_{row['Director'][0]}{row['Director'][1]}{row['Director'][-2]}", axis = 1)

In [11]:
data.sample(5)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes,Episode ID,Season ID,Director ID
73,1997,4,e_1,The One with the Jellyfish,22,Ross chooses between Rachel and his bald-heade...,Shelley Jensen,9.1,4099,4_1,s_4,DI_She
29,1995,2,e_6,The One with the Baby on the Bus,22,Joey and Chandler are left to babysit Ben when...,Gail Mancuso,8.6,3822,2_6,s_2,DI_Gas
25,1995,2,e_2,The One with the Breast Milk,22,Monica goes shopping with Julie and tries to k...,Michael Lembeck,8.2,3669,2_2,s_2,DI_Mic
207,2003,9,e_14,The One with the Blind Dates,24,Phoebe and Joey purposely set Ross and Rachel ...,Gary Halvorson,8.2,2642,9_14,s_9,DI_Gao
159,2001,7,e_14,The One Where They All Turn Thirty,22,Rachel's 30th birthday prompts the rest of the...,Ben Weiss,8.6,2976,7_14,s_7,DI_Bes

In [12]:
def quitar_comillas(fila):
    return fila.replace('"',"'")

In [13]:
data["Summary"] = data["Summary"].apply(quitar_comillas)

In [14]:
data.loc[0]["Summary"]

"Monica and the gang introduce Rachel to the 'real world' after she leaves her fiancï¿½ at the altar."

In [15]:
temporadas = data.loc[:,["Season ID","Episode Number"]].groupby("Season ID").count()
temporadas.to_csv("data/temporadas.csv")
temporadas.sample(3)

           Episode Number
Season ID
s_9                    24
s_1                    24
s_2                    24

In [16]:
episodes = data.loc[:,["Episode ID","Season","Season ID","Director ID", "Episode Number","Episode_Title","Duration","Summary"]]
episodes.to_csv("data/episodios.csv")
episodes.sample(2)

,Episode ID,Season,Season ID,Director ID,Episode Number,Episode_Title,Duration,Summary
170,8_1,8,s_8,DI_Keh,e_1,The One After I Do,22,The gang learns that Rachel is pregnant; Joey ...
34,2_11,2,s_2,DI_Thm,e_11,The One with the Lesbian Wedding,22,Rachel's mom comes to visit with big news. Mon...

In [17]:
production = data.loc[:,["Director ID","Director", "Episode Number"]]
production

    Director ID        Director Episode Number
0        DI_Jaw   James Burrows            e_1
1        DI_Jaw   James Burrows            e_2
2        DI_Jaw   James Burrows            e_3
3        DI_Jaw   James Burrows            e_4
4        DI_Paa   Pamela Fryman            e_5
..          ...             ...            ...
231      DI_Gao  Gary Halvorson           e_14
232      DI_Gao  Gary Halvorson           e_15
233      DI_Gao  Gary Halvorson           e_16
234      DI_Keh    Kevin Bright           e_17
235      DI_Keh    Kevin Bright           e_18

[236 rows x 3 columns]

In [18]:
a = data["Director"].value_counts()

In [19]:
name = list(a.keys())
epi = list(a.values)

In [20]:
director = pd.DataFrame(list(zip(name,epi)), columns = ['Name','Number of episodes'])

In [21]:
director["Director ID"] = director.apply(lambda row: f"DI_{row['Name'][0]}{row['Name'][1]}{row['Name'][-2]}", axis = 1)
director.to_csv("data/director.csv")

In [22]:
rank = data.loc[:,["Episode ID","Stars","Votes"]]
rank.to_csv("data/rank.csv")