<img src="https://media3.giphy.com/media/vISmwpBJUNYzukTnVx/giphy.gif">

# SQL creating database

In this Jupyter we will see how to create a database in `SQL` from jupyter or from the terminal with `Python`.

## Import the necessary libraries

In [1]:
import os 
import dotenv

import sqlalchemy as alch
from getpass import getpass

## Conection

First step is to start SQL server in the terminal and make the connection to the server.

`!sudo /etc/init.d/mysql star`

In [2]:
dotenv.load_dotenv()

password = os.getenv("sql_pass")
dbName = "HP"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [3]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

## Create de DataBase

In [13]:
engine.execute("""
    DROP DATABASE IF EXISTS Friends;
""")

In [14]:
engine.execute('''
    CREATE DATABASE Friends
    ''')

In [15]:
engine.execute('''
    USE Friends
    ''')

## Create the different tables
### Create episode table

In [16]:
engine.execute("""
    DROP TABLE IF EXISTS episodes;
""")

In [17]:
engine.execute("""
    CREATE TABLE episodes (
    Episode_id VARCHAR(6) PRIMARY KEY,
    Season_id VARCHAR(6) NOT NULL,
    Director_id VARCHAR(8) NOT NULL,
    Episode_Number VARCHAR(7) NOT NULL,
    Episode_title VARCHAR(150) NOT NULL,
    Duration INT NOT NULL,
    Summary VARCHAR(5000)
  );

""")

In [18]:
import pandas as pd
epi = pd.read_csv('data/episodios.csv',encoding='cp1252')
epi.head(3)

,Unnamed: 0,Episode ID,Season ID,Director ID,Episode Number,Episode_Title,Duration,Summary
0,0,1_1,s_1,DI_Jaw,e_1,The One Where Monica Gets a Roommate: The Pilot,22,Monica and the gang introduce Rachel to the 'r...
1,1,1_2,s_1,DI_Jaw,e_2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...
2,2,1_3,s_1,DI_Jaw,e_3,The One with the Thumb,22,Monica becomes irritated when everyone likes h...

In [19]:
for i, row in epi.iterrows():
    engine.execute(
        f"""
        INSERT INTO episodes VALUES
        ("{row['Episode ID']}",
        "{row['Season ID']}",
        "{row['Director ID']}",
        "{row['Episode Number']}",
        "{row['Episode_Title']}",
        {row['Duration']},
        "{row['Summary']}");
        """
    )

### Create season table

In [26]:
engine.execute("""
    DROP TABLE IF EXISTS seasons;
""")

In [27]:
engine.execute("""
    CREATE TABLE seasons (
    Season_id VARCHAR(6) PRIMARY KEY,
    Episodes INT NOT NULL
  );

""")

In [28]:
import pandas as pd
seas = pd.read_csv('data/temporadas.csv',encoding='cp1252')
seas

  Season ID  Episode Number
0       s_1              24
1      s_10              18
2       s_2              24
3       s_3              25
4       s_4              24
5       s_5              24
6       s_6              25
7       s_7              24
8       s_8              24
9       s_9              24

In [53]:
for i, row in seas.iterrows():
    engine.execute(
        f"""
        INSERT INTO seasons VALUES
        ("{row['Season ID']}",
        {row['Episode Number']});
        """
    )

### Create director table

In [49]:
engine.execute("""
    DROP TABLE IF EXISTS directors;
""")

In [50]:
engine.execute("""
    CREATE TABLE directors (
    Director_id VARCHAR(6) PRIMARY KEY,
    Name VARCHAR (40) NOT NULL,
    Episodes INT NOT NULL
  );

""")

In [51]:
import pandas as pd
director = pd.read_csv('data/director.csv',encoding='cp1252')
director.head(3)

   Unnamed: 0             Name  Number of episodes Director ID
0           0     Kevin Bright                  54      DI_Keh
1           1   Gary Halvorson                  54      DI_Gao
2           2  Michael Lembeck                  24      DI_Mic

In [54]:
for i, row in director.iterrows():
    engine.execute(
        f"""
        INSERT INTO directors VALUES
        ("{row['Director ID']}",
        "{row['Name']}",
        "{row['Number of episodes']}"
        );
        """
    )

### Create ranking table

In [59]:
engine.execute("""
    DROP TABLE IF EXISTS ranking;
""")

In [60]:
engine.execute("""
    CREATE TABLE ranking (
    Episode_id VARCHAR(6) PRIMARY KEY,
    Stars INT NOT NULL,
    Votes INT NOT NULL
  );

""")

In [61]:
import pandas as pd
rank = pd.read_csv('data/rank.csv',encoding='cp1252')
rank.head(3)

   Unnamed: 0 Episode ID  Stars  Votes
0           0        1_1    8.3   7440
1           1        1_2    8.1   4888
2           2        1_3    8.2   4605

In [62]:
for i, row in rank.iterrows():
    engine.execute(
        f"""
        INSERT INTO ranking VALUES
        ("{row['Episode ID']}",
        {row['Stars']},
        {row['Votes']}
        );
        """
    )

## Create the conection beween tables

In [63]:
engine.execute("""
    ALTER TABLE episodes
    ADD FOREIGN KEY(Episode_id)
    REFERENCES ranking(Episode_id)
    ;

""")

In [66]:
engine.execute("""
    ALTER TABLE episodes
    ADD FOREIGN KEY(Director_id)
    REFERENCES directors(Director_id)
    ;

""")

In [68]:
engine.execute("""
    ALTER TABLE episodes
    ADD FOREIGN KEY(Season_id)
    REFERENCES seasons(Season_id)
    ;

""")