<img src="https://media3.giphy.com/media/vISmwpBJUNYzukTnVx/giphy.gif">

# SQL creating database

In this Jupyter we will see how to create a database in `SQL` from jupyter or from the terminal with `Python`.

## Import the necessary libraries

In [1]:
import os 
import dotenv
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import requests

## Conection

First step is to start SQL server in the terminal and make the connection to the server.

`!sudo /etc/init.d/mysql star`

In [2]:
dotenv.load_dotenv()

password = os.getenv("sql_pass")
dbName = "HP"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [3]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

<img width= 500 src="https://2.bp.blogspot.com/-pFdbGJb1MmI/V3_d7d6s_bI/AAAAAAAAAIw/7U1JypLEDe0AagSkOhSNZHgWUIzufj_TwCLcB/s1600/realtime-data.gif">


## Create de DataBase

In [4]:
engine.execute("""
    DROP DATABASE IF EXISTS Friends;
""")

In [5]:
engine.execute('''
    CREATE DATABASE Friends
    ''')

In [6]:
engine.execute('''
    USE Friends
    ''')

<img width= 500 src="https://cdn.dribbble.com/users/2018568/screenshots/5367836/__.gif">

## Create the different tables
### Create episode table

In [12]:
engine.execute("""
    DROP TABLE IF EXISTS episodes;
""")

In [13]:
engine.execute("""
    CREATE TABLE episodes (
    Episode_id VARCHAR(6) PRIMARY KEY,
    Season_id VARCHAR(6) NOT NULL,
    Season INT (3) NOT NULL,
    Director_id VARCHAR(8) NOT NULL,
    Episode_Number VARCHAR(7) NOT NULL,
    Episode_title VARCHAR(150) NOT NULL,
    Duration INT NOT NULL,
    Summary VARCHAR(5000)
  );

""")

In [14]:
import pandas as pd
epi = pd.read_csv('data/episodios.csv',encoding='cp1252')
epi.head(3)

,Unnamed: 0,Episode ID,Season,Season ID,Director ID,Episode Number,Episode_Title,Duration,Summary,SIA
0,0,1_1,1,s_1,DI_Jaw,1,The One Where Monica Gets a Roommate: The Pilot,22,Monica and the gang introduce Rachel to the 'r...,0.0000
1,1,1_2,1,s_1,DI_Jaw,2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,0.1531
2,2,1_3,1,s_1,DI_Jaw,3,The One with the Thumb,22,Monica becomes irritated when everyone likes h...,-0.0516

In [15]:
for i, row in epi.iterrows():
    engine.execute(
        f"""
        INSERT INTO episodes VALUES
        ("{row['Episode ID']}",
        "{row['Season ID']}",
        {row['Season']},
        "{row['Director ID']}",
        "{row['Episode Number']}",
        "{row['Episode_Title']}",
        {row['Duration']},
        "{row['Summary']}");
        """
    )

### Create season table

In [16]:
engine.execute("""
    DROP TABLE IF EXISTS seasons;
""")

In [17]:
engine.execute("""
    CREATE TABLE seasons (
    Season_id VARCHAR(6) PRIMARY KEY,
    Episodes INT NOT NULL
  );

""")

In [18]:
import pandas as pd
seas = pd.read_csv('data/temporadas.csv',encoding='cp1252')
seas

  Season ID  Episode Number
0       s_1              24
1      s_10              18
2       s_2              24
3       s_3              25
4       s_4              24
5       s_5              24
6       s_6              25
7       s_7              24
8       s_8              24
9       s_9              24

In [19]:
for i, row in seas.iterrows():
    engine.execute(
        f"""
        INSERT INTO seasons VALUES
        ("{row['Season ID']}",
        {row['Episode Number']});
        """
    )

### Create director table

In [20]:
engine.execute("""
    DROP TABLE IF EXISTS directors;
""")

In [21]:
engine.execute("""
    CREATE TABLE directors (
    Director_id VARCHAR(6) PRIMARY KEY,
    Name VARCHAR (40) NOT NULL,
    Episodes INT NOT NULL
  );

""")

In [22]:
import pandas as pd
director = pd.read_csv('data/director.csv',encoding='cp1252')
director.head(3)

   Unnamed: 0             Name  Number of episodes Director ID
0           0     Kevin Bright                  54      DI_Keh
1           1   Gary Halvorson                  54      DI_Gao
2           2  Michael Lembeck                  24      DI_Mic

In [23]:
for i, row in director.iterrows():
    engine.execute(
        f"""
        INSERT INTO directors VALUES
        ("{row['Director ID']}",
        "{row['Name']}",
        "{row['Number of episodes']}"
        );
        """
    )

### Create ranking table

In [27]:
engine.execute("""
    DROP TABLE IF EXISTS ranking;
""")

In [28]:
engine.execute("""
    CREATE TABLE ranking (
    Episode_id VARCHAR(6) PRIMARY KEY,
    Stars FLOAT NOT NULL,
    Votes INT NOT NULL,
    SIA FLOAT NOT NULL
  );

""")

In [29]:
import pandas as pd
rank = pd.read_csv('data/rank.csv',encoding='cp1252')
rank.head(3)

   Unnamed: 0 Episode ID  Stars  Votes     SIA
0           0        1_1    8.3   7440  0.0000
1           1        1_2    8.1   4888  0.1531
2           2        1_3    8.2   4605 -0.0516

In [30]:
for i, row in rank.iterrows():
    engine.execute(
        f"""
        INSERT INTO ranking VALUES
        ("{row['Episode ID']}",
        {row['Stars']},
        {row['Votes']},
        {row['SIA']}
        );
        """
    )

<img width= 500 src="https://i.gifer.com/J4o.gif">

## Create the conection beween tables

In [31]:
engine.execute("""
    ALTER TABLE ranking
    ADD FOREIGN KEY(Episode_id)
    REFERENCES episodes(Episode_id)
    ;

""")

In [32]:
engine.execute("""
    ALTER TABLE episodes
    ADD FOREIGN KEY(Director_id)
    REFERENCES directors(Director_id)
    ;

""")

In [33]:
engine.execute("""
    ALTER TABLE episodes
    ADD FOREIGN KEY(Season_id)
    REFERENCES seasons(Season_id)
    ;

""")


<img width= 500 src="https://i.pinimg.com/originals/75/3a/32/753a326847fa99d65d506324c5d95363.gif">

## Queries

Using the method `GET`, we can make the queries and with `Pandas` we can create a DataFrame.

After checking this queries are correct, we write our functions in the `sqlapi.py` file, a python3 executable file that help us to make `APIs` using the web browser.

#### With this funciton we can search the episodes by director.

In [34]:
df = pd.read_sql_query(
"""
SELECT Episode_title AS Title, Summary, Name, Stars, SIA
FROM episodes AS e
LEFT JOIN directors AS d
ON e.Director_id = d.Director_id
LEFT JOIN ranking AS r
ON e.Episode_id = r.Episode_id
WHERE name = "James Burrows"
""", engine)

In [35]:
df.head()

,Title,Summary,Name,Stars,SIA
0,The One Where Monica Gets a Roommate: The Pilot,Monica and the gang introduce Rachel to the 'r...,James Burrows,8.3,0.0000
1,The One with Mrs. Bing,Chandler's flamboyant romance-novelist mother ...,James Burrows,8.2,0.6908
2,The One with the Candy Hearts,As Valentine's Day approaches; Ross and his da...,James Burrows,8.3,-0.4019
3,The One with All the Poker,"As Rachel interviews for a new job, the girls ...",James Burrows,8.8,0.0000
4,The One with the Sonogram at the End,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,0.1531

#### With this funciton we can search the episodes by season.

In [36]:
df = pd.read_sql_query(
"""
SELECT Episode_title AS Title, Summary, Name, Stars,SIA
FROM episodes AS e
LEFT JOIN directors AS d
ON e.Director_id = d.Director_id
LEFT JOIN ranking AS r
ON e.Episode_id = r.Episode_id
LEFT JOIN seasons AS s
ON s.Season_id = e.Season_id
WHERE Season = 5
""", engine)

In [37]:
df.head(2)

,Title,Summary,Name,Stars,SIA
0,The One After Ross Says Rachel,A humiliated Emily runs away after Ross says R...,Kevin Bright,8.9,-0.6908
1,The One with the Inappropriate Sister,A bored Ross wreaks havoc in Chandler and Joey...,Dana De Vally Piazza,8.2,-0.9246

<img width= 500 src="https://i1.wp.com/codemyui.com/wp-content/uploads/2015/09/cloud-file-upload-using-css.gif?fit=880%2C440&ssl=1">

## `POST` info

Using the method `POST`, we can insert new data to the Dataset.

After checking this inserctions are correct, we write our functions in the `sqlapi.py` file, a python3 executable file that help us to make `APIs` using the web browser.

#### Posting new director

In [41]:
nuevos_datos = {'Director_id':'D_pep',
    'Name':'Pepito Perez',
    'Episodes':3}

In [42]:
url = "http://localhost:5000/new_director"

In [43]:
requests.post(url, data = nuevos_datos)

#### Posting new episode

In [33]:
nuevos_datos = {'Episode_id':'12_12',
    'Season_id':'s_12',
    'Season':12,
    'Director_id':'D_pep',
    'Episode_Number':'e_12',
    'Episode_title':'Invented episode for testing',
    'Duration':30,
    'Summary':'This is an invented episode just for testing the sql API created.'}

In [34]:
url = "http://localhost:5000/new_episode"

In [35]:
requests.post(url, data = nuevos_datos)